extends ../layout

block content

  div.container
    header
      a.button(href='#contact') Contact me
      a.button(href='#projects') See project

    div.col.left
      section.card
        h2.card__title About me
        div.card__content.card__content--table
          div!= info.about

      section.card
        h2.card__title Projects
        div.card__content.card__content--table
          div
            each project in projects
              div.card__project
                img(src='/site/images/uploaded/'+project.thumbnail)
                p!= project.title
                a(href='/project/'+project.id) Take a look!

    div.col.right
      section#projects.card
        h2.card__title Latest project
        div.card__content.card__content--table
          div
            img.card__image(src='/site/images/uploaded/'+latest.cover)
            p!= latest.title
            p!= latest.description
            a(href='/project/'+latest.id) Take a look!

    section.slider
      div.slide(style={'background-image': 'url(http://www.fillmurray.com/1600/900)'})

    section#contact.contact
      h3 Get in touch
      article.email-form
        h4 Send me an email
        form.form
          div.form__group
            label(for="email") Email
            input(type="text", id="email", name="email", placeholder="example@yourdomain.com")
          div.form__group
            label(for="subject") Subject
            input(type="text", id="subject", name="subject", placeholder="Super duper project")
          div.form__group
            label(for="message") Message
            textarea(rows="5", id="message", name="message", placeholder="Hey mate I thought you could help me get my project done!")
          button.form__button(type='submit') Send!
      article.media
        div.media__personnal
          h4 Contact me directly
          p
            i.ti-email
            a(href='mailto:' + info.email) #{info.email}
          p
            i.ti-mobile
            a(href='tel:' + info.phone) #{info.phone}
        div.media__external
          h4 See me online
          a(href=info.github, target='_blank')
            i.ti-github
          a(href=info.twitter, target='_blank')
            i.ti-twitter-alt
          a(href=info.linkedin, target='_blank')
            i.ti-linkedin
          a(href=info.codepen, target='_blank')
            | Codepen



    footer
      p Raphaël Parent © 2016
